target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

README_OLD.md
.openapi-generator/
ds-storage-web/conf/ds-storage-environment.yaml
ds-storage-web/conf/ds-storage-local.yaml
setup_project.sh
/ds-storage-api/.openapi-generator-ignore
/ds-storage-web/src/test/resources/kb-internal-test.yaml
/ds-storage-web/src/test/resources/internal-test-setup.yaml
